<!--カレントユーザー　詳細-->
<h1>User info</h1>

<div>
  <%= image_tag @user.get_profile_image(80,80) %>
  
  <p>name<%= @user.name %></p>
  <p>introduction<%= @user.introduction %></p>
  
  <% if @user == current_user %>
    <p><%= link_to "edit", edit_user_path(@user) %></p>
  <% end %>
</div>


